@model CadastroClientesMVC.Models.Entities.Cliente

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar Cliente</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Type</label>
                <select asp-for="Type" class="form-control" id="Type">
                    <option value=""></option>
                    <option value="CNPJ">CNPJ</option>
                    <option value="CPF">CPF</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Document" class="control-label"></label>
                <input asp-for="Document" class="form-control" />
                <span asp-validation-for="Document" class="text-danger" id="Doc"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" readonly/>
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger" id="PhoneNumber"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-outline-warning">Lista de Clientes</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    $(document).ready(function () {

        $("#Doc").prop("disabled", true);

        $('#Type').change(function (event) {
            let tipo = event.currentTarget.value;
            console.log("Tipo: ", tipo);

            switch (tipo) {
                case 'CNPJ':
                    {
                        $("#Doc").prop("disabled", false);
                        $("#Doc").val("");
                        new Cleave('#Doc', {
                            blocks: [2, 3, 3, 4, 2],
                            delimiters: ['.', '.', '/', '-'],
                            numericOnly: true
                        });
                    }
                    break;
                case 'CPF':
                    {
                        $("#Doc").prop("disabled", false);
                        $("#Doc").val("");
                        new Cleave('#Doc', {
                            blocks: [3, 3, 3, 2],
                            delimiters: ['.', '.', '-'],
                            numericOnly: true
                        });
                    }
                    break;
                default:
                    {
                        $("#Doc").val("");
                        $("#Doc").prop("disabled", true);
                    }
            }
        });

        new Cleave('#PhoneNumber', {
            blocks: [0, 2, 5, 4],
            delimiters: ['(', ') ', '-'],
            numericOnly: true
        });

    });

</script>
