@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    body {
        background: linear-gradient(120deg, #ffe53bd8, #ff2525da);
        justify-content: center;
    }
</style>
<div class="text-center">
    <br/>
    <br/>
    <h2 class="display-4">Bem vindo ao Cadastro de Clientes</h2>
    <p>Para iniciar, clique no menu Clientes.</p>
</div>
