@{
    ViewData["Title"] = "Informações";
}
<h1>@ViewData["Title"]</h1>

<br/>
<p>Projeto desenvolvido em Asp.Net Core MVC para cadastro de clientes, usando os recursos/tecnologias: </p>
<p>HTML, CSS, JQuery, ASP.NET Core MVC, Entity Framework e SQL Server</p>
